﻿<head>
	<link rel="stylesheet" href="niburger.css" />
</head>

<div class="section">
	<div class="section_title_bar">
		<span class="section_title"> title </span>
		<span class="up_button"> up_button </span>
		<span class="down_button"> down_button </span>
	</div>

	<div class="divider"></div>

	<div class="section_content">
		<div class="col4">
			<div> burger_1 </div>
			<div> burger_2 </div>
			<div> burger_3 </div>
			<div> burger_4 </div>
			<div> burger_5 </div>
			<div> burger_6 </div>
			<div> burger_7 </div>
			<div> burger_8 </div>
		</div> 
	</div> 

	<div class="divider"></div>

	<div class="option_button_bar">
		<div class="option_button"> custom </div>
		<div class="option_button"> shuffle </div>
	</div> 
</div>

