﻿<head> 
	<link rel="stylesheet" href="niburger.css" />
	<link rel="stylesheet" 
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>

<div class="list_entry">
	<div class="container">
		<div class="row">
			<div class="col-xs-3">  
				<div class="food_img_small">
					<img src="burger_sample.jpg" />
				</div>
			</div>
			<div class="col-xs-8">
				<div> name </div>
				<div>
					<span> price </span>
					<span> calories </span>
				</div>
			</div>
			<div class="col-xs-1"> 
				<!-- FIXIT: button's position -->
				<span class="rightside_button">
				delete
				</span>
			</div>
		</div>
	</div>
</div>
