﻿<head> 
	<link rel="stylesheet" href="niburger.css" />
</head>

<div class="side_section">

	<div>
		<span class="section_title"> cart </span>
		<span class="rightside_button"> reset_window </span>
	</div>

	<div>
		<div> (Cart_entry) </div>
	</div>
	
	<div class="col2">
		<div> Total_cost </div>
		<div> Total_calories </div>
	</div>

</div>
