﻿<head> 
	<link rel="stylesheet" href="niburger.css" />
	<link rel="stylesheet" 
	   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>

<div class="list_entry"> 
	<div class="row">
		<div class="col-xs-3">
			<div> elem_type </div>
		</div>

		<div class="col-xs-8">
			<div class="row">
				<div class="col-xs-3"> elem_1 </div>
				<div class="col-xs-3"> elem_2 </div>
				<div class="col-xs-3"> elem_3 </div>
				<div class="col-xs-3"> elem_4 </div>
			</div>
		</div>

		<div class="col-xs-1">
			<span class="up_button"> page_up </span>
			<span class="down_button"> page_down </span>
		</div>
	</div> 
</div>

