﻿<head>
	<link rel="stylesheet" href="niburger.css" />
	<link rel="stylesheet" 
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"> 
</head>

<div class="list_entry">
	<div class="row">
		<div class="col-xs-7">
			<div> option_name </div>
		</div>
		<div class="col-xs-1">
			<div class="check_button"> option1 </div>
			<div class="check_button"> option2 </div>
			<div class="check_button"> ... </div>
		</div>
		<div class="col-xs-4">
			<div> cost </div>
		</div>
	</div> 
</div>
