﻿<head>
	<link rel="stylesheet" href="niburger.css" />
	<link rel="stylesheet" 
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"> 
</head>

<div class="side_section">
	<div class="section_title_bar"> 
		<span class="section_title"> 추천세트메뉴 </span>
	</div>

	<div class="row">
		<div class="col-xs-4">
			<div class="burger_element"> Best 
				<div> Best </div>
				<div class="brand_img"> 
					<img src="brand_sample.jpg" />
				</div>
				<div class="food_img_small"> 
					<img src="burger_sample.jpg" />
				</div>
				<div> Set_name </div>
				<div class="row">
					<div class="col-xs-6"> discription </div>
					<div class="col-xs-6"> cost </div>
				</div>
			</div>
		</div>

		<div class="col-xs-4">
			<div class="burger_element">
				...
			</div>
		</div>

		<div class="col-xs-4">
			<div class="burger_element">
				...
			</div>
		</div>
	</div>

</div>
