﻿<head>
	<link rel="stylesheet" href="niburger.css" /> 
	<link rel="stylesheet" 
	   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"> 
</head>

<div class="section">
	<div>
		<span class="rightside_button">Exit</span>
	</div>

	<div class="section_content">
		<div class="row">
			<div class="col-xs-6">
				<div class="burger_element">
					<div class="brand_img"> <img src="brand_sample.jpg" /> </div>
					<div class="food_img"> <img src="burger_sample.jpg" /> </div>
					<div> calories </div>
				</div>
			</div>

			<div class="col-xs-6">
				<div>
					<div> menu_name </div>
					<div> price </div>
					<div> discription_detail </div>
				</div>
			</div>
		</div>
	</div>


	<div> (Menu_options.html) </div>

	<div class="option_button_bar_single">
		<div class="option_button"> To_the_Cart </div>
	</div>

</div>
