﻿<head>
	<link rel="stylesheet" href="niburger.css" /> 
</head>

<div class="section"> 
	<div class="section_title_bar">
		<span class="section_title"> Side Title </span>
		<span class="up_button"> up_button </span>
		<span class="down_button"> down_button </span>
	</div>

	<div class="divider"></div>

	<div class="section_content"> 
		<div class="col4">
			<div> (Side_element) side_1 </div>
			<div> side_2 </div>
			<div> side_3 </div>
			<div> side_4 </div>
		</div>
	</div>

	<div class="divider"></div>

	<div class="option_button_bar_single">
		<div class="option_button"> shuffle </div>
	</div>

</div>
