﻿<head>
	<link rel="stylesheet" href="niburger.css" />
</head>

<div class="section"> 
	<div class="section_title_bar"> 
		<span class="section_title"> custom burger </span>
	</div>

	<div class="divider"></div>

	<div class="section_content"> 
		<div> (Custion_elem) Bread </div> 
		<div> (Custion_elem) Meat </div> 
		<div> (Custion_elem) Vegetable </div> 
		<div> (Custion_elem) seasoning </div> 
	</div>

	<div class="divider"></div>

	<div class="option_button_bar">
		<div class="option_button"> initialization </div> 
		<div class="option_button"> search </div> 
	</div>

</div>
