﻿<head> 
	<link rel="stylesheet" href="niburger.css" />
</head>

<table> 
	<tr>
		<td> Brand </td>
		<td> Available Time </td>
	</tr>
	<tr>
		<td> Brand1 </td>
		<td> Time1 </td>
	</tr>
	<tr>
		<td> Brand2 </td>
		<td> Time1 </td>
	</tr>
	<tr>
		<td> Brand3 </td>
		<td> Time1 </td>
	</tr>
	<tr>
		<td> Brand4 </td>
		<td> Time1 </td>
	</tr>
</table>
