﻿<head>
	<link rel="stylesheet" href="niburger.css" />
	<link rel="stylesheet" 
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"> 
</head>

<div class="section_content">
	<div class="row"> 
		<div class="col-xs-8">
			<div> (Menu_option_entry) option_1 </div> 
			<div> (Menu_option_entry) option_2 </div> 
			<div> (Menu_option_entry) option_3 </div> 
			<div> (Menu_option_entry) option_4 </div>
		</div>

		<div class="col-xs-4">
			<div>
				<div> selected_options </div>
				<div> total_cost </div>
			</div>
		</div>
	</div> 
</div>
