/* DIV */

div.section, div.side_section {
	border: solid 2px;
	margin: 10px;
	padding: 10px
}

/* Burger, Side, Custom */
div.section {
	width: 800px; 
}

/* Cart, Recommendation */
div.side_section {
	width: 440px; 
}

div.section_title_bar {
}

div.section_content {
	margin-top: 10px;
	margin-bottom: 10px;
}

div.col4 {
	-webkit-column-count: 4; /* Chrome, Safari, Opera */
	-moz-column-count: 4; /* Firefox */
	column-count: 4; /* IE */
}

div.col2 {
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
	-moz-column-count: 2; /* Firefox */
	column-count: 2; /* IE */
}

div.option_button_bar {
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
	-moz-column-count: 2; /* Firefox */
	column-count: 2; /* IE */
	margin-top: 8px;
}

div.option_button_bar_single {
	margin-top: 8px;
}

div.option_button {
	border: solid 2px;
	background-color: #5555DD
}

div.option_button:hover {
	border: solid 2px;
	background-color: #5555FF
}

div.check_button {
	border: solid 2px;
	background-color: #FFFFFF
}

div.check_button:hover {
	border: solid 2px black;
	background-color: #0000BB;
	color: white; 
}

div.burger_element {
	border: solid 2px; 
	width: 120px; 
}

div.brand_img {
	margin-top: 10px; 
	margin-left: 10px;
}

div.food_img, div.food_img_small {
	margin: 10px; 
}

div.brand_img img {
	width: 30px;
	height: 30px;
}

div.food_img img {
	width: 100px;
	height: 100px;
}

div.food_img_small img {
	width: 80px;
	height: 80px;
}

div.divider {
	height: 2px;
	width: 100%;
	background: black;
	overflow: hidden
}

div.list_entry { 
	border: solid 2px;
}

/* SPAN */

span.up_button, span.down_button {
	border: solid 2px; 
	margin: 4px;
}

span.section_title {
	/* border: solid 2px; */
	margin: 8px;
	font-size: 200%
}

span.rightside_button {
	border: solid 2px;
	/* TODO: FIXIT */
	/* float: right; */
	/*
	position: absolute;
	right: 0px;
	*/
}

/* TABLE */
table {
	border-collapse: collapse;
}

table, th, td {
	border: solid 2px; 
}

