﻿<head>
	<link rel="stylesheet" href="niburger.css" /> 
</head>

<div class="burger_element">
	<div class="brand_img"> 
		<img src="brand_sample.jpg" />
   	</div> 
	<div class="food_img"> 
		<img src="drink_sample.jpg" />
	</div> 
	<div> Discription </div> 
</div>
